<!--content main-->
<div class="container__main" role="main">
  <!--card todo-->
    <div class="card__todo">
      <div class="card__header">
      <h1>{{dateNow.toLocaleDateString(['ban', 'id'])}}</h1>
      <hr class="divide">
    </div>
      <div class="card__body">
        <!--list todo-->
      <app-list-todo  [tasks]="tasks" (changeCompletedTask)="onCheckTask($event)" (removeTask)="onRemoveTask($event)" ></app-list-todo>
      <!--form todo-->
      <app-form-todo (addTask)="onAddTask($event)"></app-form-todo>
    </div>
    </div>
</div>

<!-- Path: src/app/app.component.ts -->
<router-outlet></router-outlet>
